body {
    padding-top: 50px;
}

a:hover {
    text-decoration: none;
}

input[type=text] {
    border: none;

    text-align: center;
    
    width: 100%
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tbody > tr > td {
    text-align: center;
    
    vertical-align: middle;

    width: 10%;
}

.busyIndicatorMask {
    position: fixed;
    
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    z-index: 1000;

    background-color: rgba(0, 0, 0, 0.8);    
}

.busyIndicatorContainer {
    position: fixed;

    top: 50%;
    right: 50%;   
    bottom: 50%;
    left: 50%;

    color: #337ab7;    
}

.chart {
    position: fixed;

    bottom: 0px;

    margin-bottom: 0px;

    left: 20%;

    width: 60%;
    
    border-bottom-left-radius: 0px;    
    border-bottom-right-radius: 0px;

    border-bottom-width: 0px;    
}

.chart .panel-title {
    text-align: center
}

.chart th {
    padding: 5px;
    
    white-space: nowrap;

    text-align: right;    
}

.chart td {
    width: 100%;

    padding: 5px;
}

.chart td div {
    color: white;
    
    padding: 5px;

    text-align: center;
}