body {
    padding-top: 50px;
}

input[type=text] {
    border: none;

    text-align: center;
    
    width: 100%
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tbody > tr > td {
    text-align: center;
    
    vertical-align: middle;

    width: 10%;
}