body {
    padding-top: 50px;
}

a:hover {
    text-decoration: none;
}

input[type=text] {
    border: none;

    text-align: center;
    
    width: 100%
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tbody > tr > td {
    text-align: center;
    
    vertical-align: middle;

    width: 10%;
}

.busyIndicatorMask {
    position: fixed;
    
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    z-index: 1000;

    background-color: rgba(0, 0, 0, 0.8);    
}

.busyIndicatorContainer {
    position: fixed;

    top: 50%;
    right: 50%;   
    bottom: 50%;
    left: 50%;

    color: #337ab7;    
}